{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'reservation.trackDate.label'|trans }}</th>
                <th>{{ 'reservation.createdAt.label'|trans }}</th>
                <th>{{ 'reservation.bike.label'|trans }}</th>
                <th>{{ 'reservation.status.label'|trans }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.trackDate ? reservation.trackDate|date('d-m-Y') : '' }}</td>
                <td>{{ reservation.createdAt ? reservation.createdAt|date('d-m-Y H:i') : '' }}</td>
                <td>{{ reservation.bike }}</td>
                <td>{{ reservation.statusTransKey()|trans }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">{{ 'form.show.label'|trans }}</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">{{ 'form.edit.label'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">{{ 'form.new.label'|trans }}</a>
{% endblock %}
