{% extends 'base.html.twig' %}

{% block title %}Bike index{% endblock %}

{% block body %}
    <h1>Bike index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'bike.form.brand.label'|trans }}</th>
                <th>{{ 'bike.form.model.label'|trans }}</th>
                <th>{{ 'bike.form.matriculation.label'|trans }}</th>
                <th>{{ 'bike.form.color.label'|trans }}</th>
                <th>{{ 'bike.form.power.label'|trans }}</th>
                <th>{{ 'bike.form.kilometer.label'|trans }}</th>
                <th>{{ 'bike.form.productionYear.label'|trans }}</th>
                <th>{{ 'bike.form.status.label'|trans }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bike in bikes %}
            <tr>
                <td>{{ bike.id }}</td>
                <td>{{ bike.brand }}</td>
                <td>{{ bike.model }}</td>
                <td>{{ bike.matriculation }}</td>
                <td>{{ bike.color }}</td>
                <td>{{ bike.power }}</td>
                <td>{{ bike.km }}</td>
                <td>{{ bike.productionYear ? bike.productionYear|date('Y') : '' }}</td>
                <td>{{ bike.statusTransKey()|trans }}</td>
                <td>
                    <a href="{{ path('bike_show', {'id': bike.id}) }}">{{ 'form.show.label'|trans }}</a>
                    <a href="{{ path('bike_edit', {'id': bike.id}) }}">{{ 'form.edit.label'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bike_new') }}">{{ 'form.new.label'|trans }}</a>
{% endblock %}
